.allHeader {
  background: var(--standart-color);
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: column;
}

.headerBackButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 15px 0px 0px 10px;
  margin: 0;
  display: flex;
}

.headerBackHome {
  width: 20px;
  align-self: center;
}

.headerBackText {
  padding-left: 15px;
  display: flex;
  align-items: center;
  font-family: var(--title-font-family), sans-serif;
  font-size: var(--title-header-size);
  font-weight: var(--title-header-weight);
  color: var(--text-color);
}

/* пресеты */

.settings {
  background: var(--bg-color);
  border-bottom: none;
}

.settings .headerBackText {
  color: var(--text-color-ui);
}
