.welcomePage {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.pageLogo {
  width: 120px;
  height: 120px;
}

.pageTitle {
  padding-top: 20px;
  font-family: var(--title-font-family), sans-serif;
  font-weight: var(--title-font-weight);
  font-size: var(--welcome-font-size);
  text-align: center;
  color: var(--standart-color);
}
