.welcomePage {
  background: #667eea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.pageLogo {
  width: 120px;
  height: 120px;
}

.pageTitle {
  padding-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: white;
}
