
.sign-page {
  padding-top: 20px;
  background: #667eea;
  max-height: 668px;
  min-width: 375px;
}

.sign__header {
  display: flex;
  gap: 10px;
}

.sign__back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px 0px 15px 20px;
  margin: 0;
  display: flex;
}

.sign__back-button:focus {
  outline: none;
}

.sign__back-welcome {
  width: 15px;
}

.sign__up {
  padding-left: 15px;
}

.sign-form {
  background: white;
  border-radius: 24px 24px 0px 0px;
  padding-top: 24px;
}

.sign-form__title {
  font-size: 28px;
  font-weight: 700;
  color: #281c9d;
  text-align: left;
  padding-left: 20px;
}

.sign-form__subtitle {
  color: #666;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
}

.sign-form__image {
  width: 185px;
  height: 185px;
}

.sign-form__field {
  display: block;
  margin-bottom: 16px;
}

.sign-form__input {
  width: 85%;
  padding: 12px 16px;
  background: transparent;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  font-size: 16px;
  color: black;
}

.sign-form__input:focus {
  border-color: #667eea;
  outline: none;
}
 

/*поправить*/

.sign-form__checkbox {
  display: none;
}

.sign-form__custom-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-top: 2px;
}

.sign-form__checkbox:checked + .sign-form__custom-checkbox {
  background: #667eea;
  border-color: #667eea;
}

.sign-form__checkbox:checked + .sign-form__custom-checkbox::after {
  content: "✓";
  color: white;
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 12px;
}

.sign-form__agreement-text {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}

.sign-form__button {
  margin-top: 20px;
  background: #281c9d;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 16px;
  width: 85%;
  padding: 12px 16px;
  border-radius: 16px;
}

.sign-form__button:hover {
  transform: translateY(-2px);
}

.sign-form__button:focus {
  outline: none;
}

.sign-form__footer-text {
  text-align: center;
  color: #666;
  /* padding-bottom: 10px; */
}

.sign-form__link {
  color: #667eea;
  font-weight: 600;
  cursor: pointer;
}