@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: grey; /* Фон вокруг мобильного экрана */
}

#root {
  width: var(--mobile-width);
  min-height: var(--mobile-height);
  /* max-width: 90vw;
  max-height: 90vh; */
  aspect-ratio: 375 / 667;
  overflow: hidden;
  position: relative;
  background: white;
}

/* Автоматическое масштабирование под разные экраны */
.mobile-app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Все лейауты наследуют размеры */
.mobile-layout,
.mobile-screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Адаптивные единицы измерения */
:root {
  --vw: calc(var(--mobile-width) / 100);
  --vh: calc(var(--mobile-height) / 100);
}

/* Пример использования адаптивных единиц */
/* .adaptive-component {
  width: calc(80 * var(--vw)); 
  height: calc(50 * var(--vh)); 
  font-size: calc(4 * var(--vw)); 
} */

/* Гарантируем что все страницы занимают всю высоту */
.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
