/* iPhone 12/13 (по умолчанию) */
:root {
  --mobile-width: 375px;
  --mobile-height: 667px;
}

/* Для больших телефонов */
@media (max-width: 768px), (max-height: 768px) {
  :root {
    --mobile-width: 100vw;
    --mobile-height: 100vh;
  }
}

:root {
  --vw: calc(var(--mobile-width) / 100);
  --vh: calc(var(--mobile-height) / 100);
}
