/* iPhone 12/13 (по умолчанию) */
/* :root {
  --mobile-width: 375px;
  --mobile-height: 667px;
} */

/* Для больших телефонов */
/* @media (min-height: 800px) {
  :root {
    --mobile-width: 420px;
    --mobile-height: 844px; 
  }
} */

/* Для маленьких телефонов */
/* @media (max-height: 600px) {
  :root {
    --mobile-width: 320px;
    --mobile-height: 568px; 
  }
} */
