.footer {
  background: #F7FEF9;
  border-top: 1px solid #e0e0e0;
  padding: 15px 0;
}

.footerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  background: none;
  border: none;
  cursor: pointer;
}


.navButton img {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.navButtonActive img {
  opacity: 1;
}

.navButtonActive {
  background-color:#667eea; 
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  color: #667eea;
}

.navButtonLabel {
  font-size: 15px;
  color: #666;
  display: none;
}

.navButtonActive .navButtonLabel {
  display: block;
  color: white;
  font-weight: 500;
  padding-left: 5px;
}

/* .nav-button--active {
  color: #667eea;
} */