.footer {
  background: var(--standart-color);
  border-top: 1px solid var(--form-input-color);
  padding: 15px 0;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.navButton img {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.navButtonActive img {
  opacity: 1;
}

.navButtonActive {
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  color: var(--bg-color);
}

.navButtonLabel {
  font-family: var(--only-font-family), sans-serif;
  font-size: var(--st-font-size);
  font-weight: var(--st-font-weight);
  display: none;
  color: var(--text-color-ui);
}

.navButtonActive .navButtonLabel {
  display: block;
  padding-left: 5px;
}
