.pageHome {
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  flex-shrink: 0;
}

.headerAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--text-color-ui);
}

.headerTitle {
  font-family: var(--title-font-family), sans-serif;
  font-size: var(--title-font-size);
  font-weight: var(--title-header-weight);
  color: var(--text-color-ui);
}

.headerMessage {
  width: 24px;
  height: 24px;
}

.contentCard {
  background: var(--standart-color);
  border-radius: 24px 24px 0 0;
  padding: 24px 0 0;
  position: relative;
  display: flex;
}

.card {
  width: 100%;
  height: 100%;
  display: block;
}

.cardInfo {
  position: absolute; /* позиционируем поверх картинки */
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: var(--text-color-ui);
  gap: 30px;
}

.info {
  font-family: var(--title-font-family), sans-serif;
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}

.contentMenu {
  flex: 1; /*проверить*/
  background: var(--standart-color);
  padding: 20px;
  padding-top: 3px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  height: fit-content;
  padding-bottom: 20px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: var(--standart-color);
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--box-shadow);
  cursor: pointer;
}

.menuItem img {
  width: 25px;
  height: 25px;
}

.menuItem span {
  font-family: var(--only-font-family), sans-serif;
  font-size: var(--st-font-size);
  font-weight: var(--st-font-weight);
  color: var(--form-text-color);
  text-align: center;
}

.menuCurrency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--box-shadow);
  background: var(--standart-color);
  margin-bottom: 10px;
  font-family: var(--only-font-family), sans-serif;
  font-size: var(--st-font-size);
  font-weight: var(--st-font-weight);
  color: var(--text-color);
}

@media (width > 500px) {
  .contentCard {
    justify-content: center;
  }

  .card {
    width: 50%;
  }
}
