/* @media (width <= 768px) { */
  .Welcome-page {
    background: #667eea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 668px;
    min-width: 375px;
  }

  .page__logo {
    width: 120px;
    height: 120px;
  }

  .page__title {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: white;
  }

