.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: var(--standart-color);
}

.contentTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--form-text-color);
  font-family: var(--title-font-family), sans-serif;
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  text-align: center;
}

.currencyButton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 18px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--form-text-color);
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-family: var(--only-font-family), sans-serif;
  font-size: var(--st-font-size);
  font-weight: var(--st-font-weight);
  color: var(--text-color);
}

/* классы для выравнивания под шапками */
.codeColumn {
  text-align: left;
  padding-left: 20px;
}

.buyColumn {
  text-align: center;
}

.sellColumn {
  text-align: right;
  padding-right: 20px;
}
