
.all__header {
  background: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0px 0px 0px;
  display: flex;
  gap: 10px;
}

.header__back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px 0px 15px 20px;
  margin: 0;
  display: flex;
}

.header__back-button:focus {
  outline: none;
}

.header__back-home {
  width: 15px;
}

.header__back-text {
  padding-left: 15px;
  color: black;
}