@import "./variables.css";
@import "./theme/light.css";
@import "./theme/dark.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: gray;
}

#root {
  width: 100%;
  height: 100%;
}

.mobile-app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-screen {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 980px;
  overflow: hidden;
  background: var(--standart-color);
  color: var(--text-color);
}

/* для пк */
@media (min-width: 769px) {
  .mobile-screen {
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    margin: auto;
  }
}

.page-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
